body {
    color: #210085;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.column {

    h4 {
        text-align: center;
        margin: 8px 0 0 3px;
    }

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    border: 2px solid red;
    background: #80202080;
}

.parameters {
    background: #90b4c6F0;
    border: #445566FF 3px solid;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.main-table {
    background: #90b4c6F0;
    border: #445566FF 3px solid;
    padding: 10px;
    border-radius: 8px;
    width: 100%;

    box-sizing: border-box;

    table {
        border: 1px solid black;
        padding: 3px;
        width: 100%;

        border-spacing: 3px;

        th, td {
            border: 1px solid black;
            padding: 5px;
        }

    }
}