body {
    font-size: 18px;
    line-height: 1.5em;
}

p {
    margin: 0;
}

#setting div {
    display: flex;
    gap: 1.5em;
    background: lightblue;
    width: max-content;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 6px;
    margin-bottom: 6px;
}

svg {
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 3%;
    background: lightblue;
}

input[type="number"] {
    border-radius: 4px;
    background: aliceblue;
    margin: 0.2em 0.25em;
}

input[type="button"] {
    border: 2px solid blue;
    background: lightblue;
    border-radius: 4px;
    padding: 3px 5px;
}
